body {
    width: 100%;
    padding: 0;
    margin: 0;
}

footer {
    font-family: Akshar, sans-serif;
    font-size: 20px;
    /* Reduce font size for better responsiveness */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    height: auto;
    /* Adjust height for smaller screens */
    border-top: solid 1px;
    border-color: #0000ff1c;
    padding: 10px;
    z-index: 9;
}

.footer p {
    margin: 0;
    /* Remove extra margin to save space */
}

.buttonIntro {
    text-align: center;
    height: 65px;
    width: 20%;
    line-height: 65px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #F0F0F0;
    border-radius: 30px;
    border-bottom: 4px solid #4D43B2;
    box-shadow: 6px 6px 6px #999;
    user-select: none;
    background: #393186;
    transition: background 0.05s linear;
    transition: all .05s linear;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color: #213A81;
    font-family: "Nirmala UI", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 26.5pt;
    padding: 0;
    margin: 0;
}

h1 {
    color: #ED1C24;
    font-family: "Nirmala UI", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 35pt;
    padding: 0;
    margin: 0;
}


@media (max-width: 768px) {
    footer {
        font-size: 10px;
        /* Further reduce font size on small screens */
        padding: 5px;
    }

}


@media (max-width: 375px) {
    footer {
        font-size: 9px;
        /* Further reduce font size on small screens */
        padding: 5px;
    }

}

@media (max-width: 426px) {
    footer {
        font-size: 9px;
        /* Further reduce font size on small screens */
        padding: 5px;
    }
}

#content-form {
    padding-bottom: 100px;
    background-color: white;
    padding-top: 10px;
}

.header-title {
    font-size: 5vw;
    /* Responsive font size */
    text-align: center;
    margin: 10px 0;
    font-family: Akshar, sans-serif;
}

.text-center {
    font-size: 6vw;
    /* Responsive font size for smaller screens */
    text-align: center;
    margin: 5px 0;
    font-family: Akshar, sans-serif;
}

.buttonIntro {
    width: 80%;
    text-align: center;
    margin: 0 auto 20px;
    font-family: Akshar, sans-serif;
    font-size: 3vw;
}

.responsive-text {
    text-align: center;
    font-weight: bold;
    color: #000;
    margin: 0 auto;
    font-family: Akshar, sans-serif;
    font-size: 4vw;
}

.wimage {
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
    object-fit: contain;
    transition: background 0.05s linear;
    transition: all .05s linear;
}

.buttonIntro:active {
    transform: translateY(3px);
}

.wimage:active {
    transform: translateY(3px);
}

.highlight-text {
    font-size: 5vw;
    font-weight: bold;
}


#simage {
    max-width: 100%;
    height: auto;
}


.info-banner {
    background-color: #fcd600;
    color: black;
    padding: 0px 10px;
    font-size: 5vw;
    text-align: center;
    font-family: Akshar, sans-serif;
    margin-top: -75px
}


table {
    margin: 5px auto;
    width: 99.5%;
    text-align: center;
    border-collapse: collapse;
    font-size: 4vw;
    background-color: white;
}

.sno {
    border: 2px solid #000000;
    font-size: 70px;
}

.button {
    text-align: center;
    height: 65px;
    width: 20%;
    line-height: 65px;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    /*letter-spacing: 4px;*/
    color: #F0F0F0;
    border-radius: 30px;

    /*4F0044*/
    border-bottom: 4px solid #4D43B2;
    box-shadow: 6px 6px 6px #999;
    user-select: none;
    background: #393186;
    transition: background 0.05s linear;
    transition: all .05s linear;

    margin-top: 10px;
    margin-bottom: 10px;
}

.button:active {
    box-shadow: 2px 2px 2px #777;
    border-bottom: 1px solid #FFB909;
    transform: translateY(3px);
}

.buttonCorrect {
    text-align: center;
    height: 65px;
    width: 20%;
    line-height: 65px;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    /*letter-spacing: 4px;*/
    color: #F0F0F0;
    border-radius: 30px;

    /*4F0044*/
    border-bottom: 4px solid #4D43B2;
    box-shadow: 2px 2px 2px #999;
    user-select: none;
    background: #393186;
    transition: background 0.05s linear;
    transition: all .05s linear;

    margin-top: 10px;
    margin-bottom: 10px;
}

.user {
    font-weight: bold;
}

.buttonCorrect:active {
    box-shadow: 2px 2px 2px #777;
    border-bottom: 1px solid #FFB909;
    transform: translateY(3px);
}

table tr td {
    border: 2px solid #000000d0;
}



/* Additional responsive styling for small screens */
@media (max-width: 576px) {
    .user {
        border: 2px solid #000000d0;
        font-weight: bold;
        font-size: 15px;
    }

    .wimage {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 50px;
        object-fit: contain;
    }

    .button {
        text-align: center;
        height: 30px;
        width: 100%;
        margin-left: 2px;
        line-height: 0px;
        cursor: pointer;
        font-size: 22px;
        text-transform: uppercase;
        /*letter-spacing: 4px;*/
        color: #F0F0F0;
        border-radius: 30px;

        /*4F0044*/
        border-bottom: 4px solid #4D43B2;
        box-shadow: 2px 2px 5px #999;
        user-select: none;
        background: #393186;
        transition: background 0.05s linear;
        transition: all .05s linear;
    }

    .buttonCorrect {
        text-align: center;
        height: 30px;
        width: 100%;
        margin-left: 2px;
        line-height: 20px;
        cursor: pointer;
        font-size: 10px;
        font-weight: lighter;
        text-transform: uppercase;
        /*letter-spacing: 4px;*/
        color: #F0F0F0;
        border-radius: 30px;
        padding: 5px 10px;
        /*4F0044*/
        border-bottom: 4px solid #4D43B2;
        box-shadow: 2px 2px 5px #999;
        user-select: none;
        background: #393186;
        transition: background 0.05s linear;
        transition: all .05s linear;

    }

    .header-title,
    .text-center,
    .buttonIntro,
    .responsive-text {
        font-size: 3.4vw;
        padding: 0px;
        margin: 0px;
    }

    .sno {
        border: 2px solid #000000;
        font-size: 25px;
    }


    .responsive-text {
        padding: 0px 10px;
        font-size: 4vw;
        font-weight: lighter;
    }

    .highlight-text {
        font-size: 5vw;
        font-weight: 900;
    }

    .buttonIntro {
        text-align: center;
        height: 30px;
        width: 90%;
        line-height: 28px;
        cursor: pointer;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #F0F0F0;
        border-radius: 30px;
        border-bottom: 4px solid #4D43B2;
        box-shadow: 6px 6px 6px #999;
        user-select: none;
        background: #393186;
        transition: background 0.05s linear;
        transition: all .05s linear;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .info-banner {
        font-size: 3.5vw;
        padding: 15px 0px;
        margin-top: -15px
    }
}

.img_animation {
    background-color: #ffffff;
    position: relative;
    animation-name: example;
    animation-duration: 3s;

}

@keyframes example {

    0% {
        background-color: yellow;
        left: 0px;
        top: 0px;
    }

    50% {
        background-color: yellowgreen;
        left: 0px;
        top: 400px;
    }

}


.evm-image {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.div-ballet-candidate {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
}

.modal-header .modal-title {
    font-size: 12px;
}

.div-ballet-candidate h6 {
    font-size: 6.5px;
    font-weight: bold;
}

.blink {
    /* filter: brightness(101%) contrast(102%) saturate(0%) blur(0px) hue-rotate(0deg); */
    width: 40px;
    height: 40px;
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hit-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hit-counter .visit{
    font-size: 12px;
    font-weight: bold;
    color: #000;
}